name: CI SonarQube

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-analyze:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # IMPORTANTE: SonarQube necesita todo el historial de git

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - run: npm install
      
      # Si tienes tests configurados, esto genera el reporte de cobertura
      - run: npm test -- --passWithNoTests --coverage

      - run: npm run build

      # --- NUEVO PASO: SONARCLOUD ---
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Token por defecto de GitHub
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}    # El que creamos nosotros